[submodule "repos/ffnvcodec"]
	path = repos/ffnvcodec
	url = https://github.com/FFmpeg/nv-codec-headers.git
	branch = sdk/9.1
[submodule "repos/amf"]
	path = repos/amf
	url = https://github.com/GPUOpen-LibrariesAndSDKs/AMF.git
[submodule "repos/svt-av1"]
	path = repos/svt-av1
	url = https://github.com/AOMediaCodec/SVT-AV1
[submodule "repos/libogg"]
	path = repos/libogg
	url = https://github.com/xiph/ogg.git
[submodule "repos/libvorbis"]
	path = repos/libvorbis
	url = https://github.com/xiph/vorbis.git
[submodule "repos/snappy"]
	path = repos/snappy
	url = https://github.com/google/snappy.git
[submodule "repos/libvpx"]
	path = repos/libvpx
	url = https://github.com/webmproject/libvpx.git
[submodule "repos/fdk-aac"]
	path = repos/fdk-aac
	url = https://github.com/mstorsjo/fdk-aac.git
[submodule "repos/zimg"]
	path = repos/zimg
	url = https://github.com/sekrit-twc/zimg.git
[submodule "repos/x264"]
	path = repos/x264
	url = https://code.videolan.org/videolan/x264.git
[submodule "repos/opus"]
	path = repos/opus
	url = https://github.com/xiph/opus.git
[submodule "repos/x265"]
	path = repos/x265
	url = https://github.com/videolan/x265.git
[submodule "repos/ffmpeg"]
	path = repos/ffmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
	branch = release/5.0
